

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;

}

.addBtn{
    display: flex;
}



.listProduct{
    text-align: left;
    padding-left: 20px;
    text-decoration: none;

    flex-wrap: wrap;
    align-items: center;

}