.container{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid rgba(52, 152, 219, 0.68);
    border-bottom: 6px solid rgba(52, 152, 219, 0.68);
    border-left: 3px solid rgba(52, 152, 219, 0.68);
    background-color: rgba(251, 67, 73, 0.64);
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.textStyle{
    text-align: right;
    margin-right: 30px;
    width: 100%;
}

.completed{
    background-color: rgba(27, 241, 54, 0.56);

}

.btn {
    box-sizing: border-box;
    border: 2px solid rgba(231, 76, 60, 0);
    border-radius: 0.6em;
    cursor: pointer;
    align-self: center;
    margin: 10px;
    padding: 0.8em 1.8em;
    text-align: center;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    font-family: 'Mali', cursive;

}

.btn:hover{
    color: #fff;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    background-color: rgba(52, 152, 219, 0.42);
}