.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.main{

  min-height:100%;
  position:relative;
  display: flex;
  padding-top: 40px;
  justify-content: center;

}

.navContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}




.nav{
  display: flex;
  margin: 1.5em 0 0 5%;
}

ul{
  display: flex;

}

li{
  padding-left: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
  color: #7D7C7D;
}

